<%- partial('_partial/head') %>
<body>

  <% if (page.base !== '') { %>
    <span id="toolbox-mobile" class="toolbox-mobile">盒子</span>
  <% } %>

  <%- body %>

  <%- partial('_partial/component/modal') %>


  <% if (theme.post.showComments && page.layout === 'post'){ %>
    <%- partial('_partial/component/comments', {className: 'comments-post'}) %>
  <% } else if (page.comments) { %>
    <%- partial('_partial/component/comments', {className: 'comments-' + page.layout}) %>
  <% } %>

  <%- partial('_partial/load-script') %>
  <footer style="flex: 0 0 auto;text-align: center;">
<a style="font-size:12px; color:#6C6C6C" target="_blank">© 2021  林嘉伟 ❤ <a style="font-size:12px; color:#6C6C6C" target="_blank" href="http://beian.miit.gov.cn/" rel="nofollow">粤ICP备2021021473号</a></footer>
</body>
</html>
